<!-- Numero de departamento: <%= @apartment.number %>

Nombre del Edificio:
<%= @apartment.building.name %> -->

<p id="notice"><%= notice %></p>

<h1>Edificios y Departamentos</h1>

<table>
    <thead>
        <tr>
        <th><strong>Numero del Departamento</strong></th>
        <th><strong>Nombre del Edificio</strong></th>
        <th colspan="2"></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><%= @apartment.number %></td>
            <td><%= @apartment.building %></td>
        </tr>
    </tbody>
    </table>

    <%= link_to 'Edit', edit_building_apartment_path(@building, @apartment) %> |
    <%= link_to 'Back', building_apartments_path(@building) %>